// Layout.
@use '@wexample/symfony-loader/layouts/black/layout';
// Base partials.
@use '@wexample/symfony-loader/css/shapes/container';
// Allowed partials in all pages.
@use '@wexample/symfony-loader/css/shapes/block';