@import 'prismjs/themes/prism-tomorrow.css';

.highlight-code {
  padding: 0 1rem;

  pre {
    border-radius: 0.5rem;

    code {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
}

